<form [formGroup]="operacoesCurralFormGroup">
  <div class="po-row">
    <po-lookup class="po-md-4"
               name="idTm"
               p-field-label="idTm"
               p-field-value="idTm"
               p-label="Código Tipo de Movimento"
               [(ngModel)]="movimentacao.tipoMovimento.idTm"
               [p-filter-service]="tiposMovimentoLookupService"
               [p-filter-params]="{tipoTm: movimentacao.tipo}"
               [p-columns]="tiposMovimentolookupColumns"
               (p-selected)="onSelectLookupTipoMovimento($event)"
               [p-no-autocomplete]="true"
               (p-error)="onErrorLookupTipoMovimento($event)"
               formControlName="idTm"
    ></po-lookup>
    <po-input class="po-md-6" p-label="Tipo de Movimento" formControlName="descricaoTm" p-disabled="true"
              [(ngModel)]="movimentacao.tipoMovimento.descricao"></po-input>
    <po-input class="po-md-2" p-label="Quantidade Animais" formControlName="quantidadeAnimais"
              [(ngModel)]="movimentacao.quantidadeAnimal"></po-input>
  </div>
  <div class="po-row">
    <po-textarea class="po-md-12" p-label="Observação" formControlName="observacao"
                 [(ngModel)]="movimentacao.observacao"></po-textarea>
  </div>
  <!--  campos GTA-->
  <div *ngIf="movimentacao.tipoMovimento.tipo === 1">
    <po-divider p-label="GTA"></po-divider>
    <div class="po-row">
      <po-lookup class="po-md-4"
                 p-field-label="idEntidade"
                 p-field-value="idEntidade"
                 p-label="Código Fornecedor"
                 formControlName="idFornecedor"
                 [p-columns]="entidadeLookupColumns"
                 [p-filter-service]="entidadeLookupService"
                 [p-filter-params]="{tipo:1}"
                 (p-selected)="onSelectLookupEntidade($event)"
                 [(ngModel)]="movimentacao.idFornecedor"
      ></po-lookup>
      <po-input class="po-md-8"
                p-label="Fornecedor"
                formControlName="fornecedor"
                [(ngModel)]="movimentacao.nomeFantasiaFornecedor"></po-input>
    </div>
    <div class="po-row">
      <po-input class="po-md-4"
                p-label="Número GTA"
                formControlName="nGta"
                [(ngModel)]="movimentacao.numeroGta"></po-input>
      <po-input class="po-md-4" p-label="Série GTA" formControlName="serieGta"
                [(ngModel)]="movimentacao.serieGta"></po-input>
      <po-datepicker class="po-md-4" p-label="Emissão GTA" formControlName="emissaoGta"
                     [(ngModel)]="movimentacao.dataEmissaoGta"></po-datepicker>
    </div>
    <div class="po-row">
      <po-datepicker class="po-md-4" p-label="Validade GTA" formControlName="validadeGta"
                     [(ngModel)]="movimentacao.dataValidadeGta"></po-datepicker>
      <po-datepicker class="po-md-4" p-label="Chegada GTA" formControlName="chegadaGta"
                     [(ngModel)]="movimentacao.dataChegadaGta"></po-datepicker>
      <po-datepicker class="po-md-4" p-label="Saída GTA" formControlName="saidaGta"
                     [(ngModel)]="movimentacao.dataSaidaGta"></po-datepicker>
    </div>
  </div>
</form>
