<div class="po-row" class="pecuaria-manejo-entrada-list-toolbar">
  <div class="pecuaria-manejo-list-back">
    <span id="icone-manejo" class="po-icon po-icon-arrow-left pecuaria-back-span" (click)="backRoute()"></span>
  </div>
  <div class="pecuaria-manejo-list-header">
    <h3 id="header-manejo">Operações de Saída</h3>
  </div>
  <div class="pecuaria-manejo-list-add-button">
    <po-button
      p-icon="po-icon-plus"
      p-label="Incluir"
      p-type="primary"
      (p-click)="goOperacaoSaidaCadastro()"
    ></po-button>
  </div>
</div>
<po-divider></po-divider>
<div class="po-row">
  <po-table
    p-container
    p-hide-text-overflow
    p-sort="true"
    p-striped="true"
    class="po-md-12"
    [p-columns]="columns"
    [p-items]="items"
    [p-actions]="actions"
  >
  </po-table>
</div>

<po-modal>

</po-modal>
