<div class="po-row" class="pec-header-toolbar">
  <div class="pec-header-toolbar-back">
    <span class="po-icon po-icon-arrow-left pecuaria-back-span" (click)="backRoute()"></span>
  </div>
  <div class="pec-header-toolbar-title">
    <h3>Manejo de Entrada</h3>
  </div>
  <div class="pec-header-toolbar-add-button">
    <po-button
      p-icon="po-icon-plus"
      p-label="Salvar"
      p-type="primary"
      (p-click)="saveMovimentacao()"
      [p-disabled]="!formGroup.valid"
    ></po-button>
  </div>
</div>
<pec-operacoes-curral-form [movimentacao]="movimentacao" [formGroup]="formGroup"></pec-operacoes-curral-form>
